streamlit
pymongo
Pillow
pandas
textblob
requests
pyttsx3
feedparser
dropbox
load_dotenv
moviepy
gTTS
google-generativeai
beautifulsoup4==4.12.2
python-dateutil==2.8.2
typing-extensions==4.9.0
